*{
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html{
   font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
.container{
   border: 0.3rem solid black;
   display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    height: 100vh;
    align-items: flex-end;
    justify-content: flex-end;
}
.box1{
  width: 5rem;
  height: 1rem;
  background-color: blueviolet;
}
.box2{
   background-color: aquamarine;
}
.box3{
   background-color: bisque;
}
.box4{
   background-color: blue;
}
.box5{
   background-color: yellow;
}
.box6{
   background-color: blueviolet;
}
